/* -------------------- ESTILOS GENERALES ------------------- */

body {
    font-family: 'Helvetica', sans-serif; 
    background-color: #f8f9fa; 
}

/* -------------------- HEADER / NAVBAR ------------------- */

.navbar {
    background-color: #F1F2EE !important; 
    border-bottom: 1px solid #ddd;
}


.logo-main {
    width: 60px; 
    height: auto;
}


.navbar .nav-link {
    color: #333; 
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 10px; 
}


.navbar .nav-link:hover, .navbar .nav-link.active {
    color: #007bff; 
}


/* -------------------- MAIN CONTENT ------------------- */

main h1 {
    font-size: 2.5rem; 
    margin-bottom: 20px;
}


/* -------------------- FOOTER ------------------ */

footer {
    border-top: 1px solid #444;
   
}


/* -------------------- PÁGINA: TOURS ------------------ */
.tabla-fechas {
   
}

/* ------------------- PÁGINA: SOBRE MI ----------------- */
.bio-sobremi p {
    text-align: center;
    line-height: 1.6; 
}

/* ------------------- PÁGINA: CONTACTO ------------------ */
.contacto p {
    font-style: italic;
    font-size: 1.5rem; 
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    // Con esta línea, le decimos al h1 que use la animación que creamos
    animation: fadeIn 1.2s ease-out;
}