// _navbar.scss

.navbar {
    background-color: $light-color !important; // Usando una variable
    border-bottom: 1px solid #ddd;

    .nav-link {
        color: $text-color;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0 10px;
        transition: color 0.3s ease; // Agregando una transición suave

        // El & es un comodín que se refiere al selector padre (.nav-link)
        &:hover, &.active {
            color: $primary-color;
        }
    }

    .logo-main {
        width: 60px;
        height: auto;
    }
}